<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.gms.samples.vision.barcodereader"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="Wat U-Mong QR scanner"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".MainActivity"
            android:label="Wat U-Mong QR scanner"
            android:background="@color/background">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BarcodeCaptureActivity"
            android:label="Read Barcode : Tap to capture"
            android:background="@color/background"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".quiz.QuizMenu"
            android:label="Quiz Menu"
            android:background="@color/background"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".quiz.QuizActivity"
            android:label="Quiz"
            android:background="@color/background"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".quiz.ResultActivity"
            android:label="Quiz result"
            android:background="@color/background"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".information.MainList"
            android:label="Information"
            android:background="@color/background"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".information.ShowDetailActivity"
            android:label="Information"
            android:background="@color/background"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ShowResult"
            android:label="QR code Result"
            android:background="@color/background"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>